*.pyc
*~
*.swp
.DS_Store
*.sqlite
*.log
*.bak
*.db
*.sql
local_settings.py
venv
_generated
.settings
.mirrored-files
celerybeat-schedule
celerybeat.pid
djcelery.schedulers.*
media
*.pid
.project
.pydevproject
*.sqlite3
