beautifulsoup4==4.3.2
celery==3.1.13
django-celery==3.1.10
django-mptt==0.6.1
dj-database-url==0.2.1
dj-static==0.0.6
-e git://github.com/django/django.git@b159b55997989b42dd9b82af578ca7ab01a2192d#egg=Django
gunicorn==19.0.0
psycopg2==2.4.5
pytz==2012h
requests==2.3.0
