beautifulsoup4==4.3.2
celery==3.1.13
django==1.7.4
django-celery==3.1.10
django-mptt==0.6.1
dj-database-url==0.2.1
dj-static==0.0.6
-e git://github.com/jbalogh/django-cache-machine.git@f827f05b195ad3fc1b0111131669471d843d631f#egg=django-cache-machine
gunicorn==19.0.0
psycopg2==2.4.5
pytz==2012h
requests==2.3.0
django-autocomplete-light==2.0.7
six==1.9.0
django-pylibmc==0.5.0
pylibmc==1.4.1
