{% load humanize %}
<div id="listing-{{ listing.id }}" class="col-md-12 search-listing status-{{ search_listing.status }}">

	{% if search_listing.ignored and search_listing.ignored_reason %}
		<p class="ignore-reason">{{ search_listing.ignored_reason }}</p>
	{% endif %}

	{% if search_listing.favorite %}
		<p class"favorite">Favorite</p>
	{% endif %}

	<h3><a href="{{ listing.url }}" target="_blank">£{{ listing.price|intcomma }} {{ listing.title|truncatechars:80 }}</a></h3>
	<div class="info row">
		<div class="area col-md-8">{{ listing.area }}</div>
		<div class="posted col-md-4">{% if listing.date_posted %}{{ listing.date_posted|timesince }} ago{% endif %}</div>
	</div>

	<div class="images row">
		{% for img in listing.listingimage_set.all %}
			<img src="{{ img.url }}">
		{% endfor %}
	</div>

	<div class="description row">
		<div class="col-md-6">

		<a class="btn btn-status btn-new{% if search_listing.status == 'new' %} selected{% endif %}" href="#" status='new' data-id="{{ search_listing.id }}">New</a>
		<a class="btn btn-status btn-favorite{% if search_listing.status == 'favorite' %} selected{% endif %}" status='favorite' href="#" data-id="{{ search_listing.id }}" title="Move this ad to the top and keep it on top in future searches">Favorite</a>
		<a class="btn btn-status btn-ignore{% if search_listing.status == 'ignore' %} selected{% endif %}" status='ignored' href="#" data-id="{{ search_listing.id }}" title="Move this ad to the bottom and ignore it in future searches">Ignore</a>
		<a class="btn btn-status btn-maybe{% if search_listing.status == 'maybe' %} selected{% endif %}" status='maybe' href="#" data-id="{{ search_listing.id }}">Maybe</a>
		<a class="btn btn-status btn-offer{% if search_listing.status == 'offer' %} selected{% endif %}" status='offer' href="#" data-id="{{ search_listing.id }}">Under Offer</a>

		<pre>{{ listing.description|safe }}</pre>

		</div>
		<div class="col-md-6">
			<div class="map_canvas" id="map_canvas_{{ listing.id }}">
			</div>
			{% if listing.lat and listing.lon %}
			<div style="clear: both; margin-top:4px;">
				<button class="btn btn-primary btn-map-size" data-id="{{ listing.id }}">Bigger</button>
				<div class="pull-right">
					<button class="btn btn-warning btn-map-deprivation" data-id="{{ listing.id }}">Deprivation</button>
					<button class="btn btn-info btn-map-road" data-id="{{ listing.id }}">Roads</button>
					<button class="btn btn-info btn-map-hybrid" data-id="{{ listing.id }}">Hybrid</button>
					<button class="btn btn-info btn-map-satellite" data-id="{{ listing.id }}">Satellite</button>
				</div>
				<div style="clear: both;" class="pull-right distances">
					<ul>
					{% for dist in listing.station_distances %}
						<li><a href="#" class="btn-directions" data-id="{{ listing.id }}" dist-id="{{ dist.id }}">{{ dist.station.name }} - {{ dist.distance }} mi</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
	</div>

</div>
