
<div id="listing-{{ listing.id }}" class="col-md-12 search-listing {% if listing.ignored %}ignored{% endif %}">
	{% if listing.ignored and listing.ignored_reason %}
	<p class="ignore-reason">{{ listing.ignored_reason }}</p>
	{% endif %}
	<h3><a href="{{ listing.url }}" target="_blank">£{{ listing.price_per_month }}pcm {{ listing.title|truncatechars:80 }}</a></h3>
	<div class="info row">
		<div class="area col-md-4">{{ listing.area }}</div>
		<div class="posted col-md-4">{% if listing.date_posted %}{{ listing.date_posted|timesince }} ago{% endif %}</div>
		<div class="available col-md-4">Available: {{ listing.date_available|date:"SHORT_DATE_FORMAT" }}</div>
	</div>

	<div class="images row">
		{% for img in listing.listingimage_set.all %}
			<img src="{{ img.url }}">
		{% endfor %}
	</div>

	<div class="description row">
		<div class="col-md-6">
		{% if not listing.ignored %}
			<a class="btn btn-danger btn-ignore" href="#" data-id="{{ listing.id }}" title="Move this ad to the bottom and ignore it in future searches">Ignore</a>
		{% endif %}
		{% if listing.ignored %}
			<a class="btn btn-success btn-unignore" href="#" data-id="{{ listing.id }}" title="Move this ad back and stop ignoring it in future searches">Unignore</a>
		{% endif %}

			{% if listing.long_description %}
			<pre>{{ listing.long_description }}</pre>
			{% else %}
			<pre>{{ listing.short_description }}</pre>
			{% endif %}
		</div>
		<div class="col-md-6">
			<div class="map_canvas" id="map_canvas_{{ listing.id }}" style="height:400px;">
			</div>
		</div>
	</div>

</div>
