{% extends "_base.html" %}
{% load form_tags %}

{% block body %}

{% include "_previous_searches.html" %}

<h1>Gumbug</h1>

<p>This service allows you to automatically group the results of several real estate searches together in a single page
for easy viewing, and allows you to do additional filtering so you don't keep seeing the ads that you don't want to see
for repeated searches.</p>

<div class="col-md-12 search-form">
	<form class="search-form" action="{% url 'index' %}" method="POST">

	{% csrf_token %}
	
	<p>Paste your house or apartment search listing URLs here. Valid sources are:</p>

	<li>Rightmove (To Buy - <a href="http://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E1408&insId=2&maxPrice=400000&minBedrooms=2&retirement=false&radius=1.0&sortType=6&numberOfPropertiesPerPage=10" target="_blank">Example</a>)</li>

	{% include '_search_form.html' %}

	</form>
</div>

{% endblock %}
