{% extends '_base.html' %}

{% block title %}{{ search.title }} | Gumbug Search{% endblock %}

{% block headerjs %}

{% csrf_token %}

<script>
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	};
	var csrftoken = getCookie('csrftoken');
	var maps = {};
	var directions = {};
	var deprivationLayers = {};
	var directionsService = new google.maps.DirectionsService();
	var distances = {};

	function initialize() {

		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});

		$(".btn-directions").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var div = $(this).closest("div.search-listing");
			var map = maps[dataId];

			var distId = $(this).attr("dist-id");

			if (distances[distId]) {
				var from = distances[distId]['from'];
				var to = distances[distId]['to'];

				var directionsDisplay = directions[dataId];

				var request = {
					origin: from,
					destination: to,
					travelMode: google.maps.TravelMode.WALKING
				};
				directionsService.route(request, function(result, status) {
					if (status == google.maps.DirectionsStatus.OK) {
						directionsDisplay.setDirections(result);
					}
				});
			}
			else {
				console.log("No distance..");
			}
		});

		$(".btn-ignore").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var div = $(this).closest("div.search-listing");
			div.addClass("ignored");
			$(this).hide();

			$.post("/s/{{ search.slug }}/ignore/" + dataId, {ignore: "true"}, function(data) {
				console.log("Ad " + dataId+ " ignored.");
			});
			
		});

		$(".btn-unignore").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var div = $(this).closest("div.search-listing");
			div.removeClass("ignored");
			$(this).hide();

			$.post("/s/{{ search.slug }}/ignore/" + dataId, {ignore: "false"}, function(data) {
				console.log("Ad " + dataId+ " unignored.");
			});
			
		});

		$(".btn-favorite").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var div = $(this).closest("div.search-listing");
			div.addClass("favorite");
			$(this).hide();

			$.post("/s/{{ search.slug }}/favorite/" + dataId, {favorite: "true"}, function(data) {
				console.log("Ad " + dataId+ " favorited.");
			});
			
		});

		$(".btn-unfavorite").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var div = $(this).closest("div.search-listing");
			div.removeClass("favorite");
			$(this).hide();

			$.post("/s/{{ search.slug }}/favorite/" + dataId, {favorite: "false"}, function(data) {
				console.log("Ad " + dataId+ " unfavorited.");
			});
		});

		function toggleMap(button, e, mapTypeId) {
			e.preventDefault();
			maps[button.attr("data-id")].setMapTypeId(mapTypeId);
		};
		$(".btn-map-road").click(function(e) { toggleMap($(this), e, google.maps.MapTypeId.ROADMAP); });
		$(".btn-map-hybrid").click(function(e) { toggleMap($(this), e, google.maps.MapTypeId.HYBRID); });
		$(".btn-map-satellite").click(function(e) { toggleMap($(this), e, google.maps.MapTypeId.SATELLITE); });
		$(".btn-map-deprivation").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var map = maps[dataId];
			if (deprivationLayers[dataId]) {
				deprivationLayers[dataId].setMap(null);
				delete deprivationLayers[dataId];
			}
			else {
				layer = new google.maps.FusionTablesLayer({
					query: {
						select: '\'Geocodable address\'',
						from: '1GVraQ6WaXMD1ORTUVKoNsLbMSQ7jaXkV0mSdBO2u'
					},
					options: {suppressInfoWindows: true},
				});
				layer.setMap(map);
				deprivationLayers[dataId] = layer;
			}
		});
		$(".btn-map-size").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var map = maps[dataId];
			$canvas = $("#map_canvas_" + dataId);
			if ($canvas.hasClass("map-large")) {
				$canvas.parent().addClass("col-md-6");
				$canvas.parent().removeClass("col-md-12");
				$canvas.removeClass("map-large");
				$(this).text("Bigger");
				if (deprivationLayers[dataId]) {
					deprivationLayers[dataId].setOptions({suppressInfoWindows: true});
				}
			} else{
				$canvas.parent().removeClass("col-md-6");
				$canvas.parent().addClass("col-md-12");
				$canvas.addClass("map-large");
				$(this).text("Smaller");
				if (deprivationLayers[dataId]) {
					deprivationLayers[dataId].setOptions({suppressInfoWindows: false});
				}
			}
			google.maps.event.trigger(map, "resize");
		});

		var map_canvas, mapOptions, map, loc;

{% for search_listing in listings %}
	{% with search_listing.listing as listing %}
	{% if listing.lat and listing.lon %}

		loc = new google.maps.LatLng({{ listing.lat }}, {{ listing.lon }});
		map_canvas = document.getElementById('map_canvas_{{ listing.id }}');
		mapOptions = {
			center: loc,
			zoom: 15,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(map_canvas, mapOptions);
		new google.maps.Marker({position: loc, map: map,});
		maps[{{ listing.id}}] = map;

		var directionsDisplay = new google.maps.DirectionsRenderer();
		directionsDisplay.setMap(map);
		directions[{{ listing.id }}] = directionsDisplay;

		{% for sd in listing.station_distances %}
			distances[{{ sd.id }}] = {
				from: new google.maps.LatLng({{ listing.lat }}, {{ listing.lon }}),
				{% if sd.station.lat and sd.station.lon %}
				to: new google.maps.LatLng({{ sd.station.lat }}, {{ sd.station.lon }}),
				{% else %}
				to: "{{ sd.station.name }}",
				{% endif %}
			};
		{% endfor %}

	{% endif %}
	{% endwith %}
{% endfor %}
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}

{% block body %}

{% include "_previous_searches.html" %}

<div class="row">
	<h1>{{ search.title }} - Gumbug search</h1>
</div>

{% if search.parent %}
<div class="row">
	<a href="{% url 'listings' search.parent.slug %}">Based on previous search {{ search.parent.slug }} at {{ search.parent.modified }}</a>
</div>
{% endif %}

<div class="row">
	<form class="search-form" action="{% url 'listings' search.slug %}" method="POST">
		{% csrf_token %}
		{% include '_search_form.html' %}
	</form>
	<hr>
</div>

<div class="row">
	<h4>{{ valid_count }} valid listings, {{ ignored_count }} ignored</h4>
</div>

<div class="row">
	{% include "_pagination.html" %}
</div>

<div class="listings">
	{% for search_listing in listings %}
		{% with search_listing.listing as listing %}
			{% include "_listing.html" %}
		{% endwith %}
	{% endfor %}
</div>

{% include "_pagination.html" %}

{% endblock %}
