{% extends '_base.html' %}

{% block title %}{{ search.name }} | Gumbug Search{% endblock %}

{% block headerjs %}

{% csrf_token %}

<script>
	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	var csrftoken = getCookie('csrftoken');

	function initialize() {
		
		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});
		
		$(".btn-ignore").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var div = $(this).closest("div.search-listing");
			console.log("Div: " + div);
			div.detach().appendTo(".ignored-listings");
			div.addClass("ignored");
			$(this).hide();

			$.post("/s/{{ search.slug }}/ignore/" + dataId, {ignore: "true"}, function(data) {
				console.log("Ad " + dataId+ " ignored.");
			});
			
		});

		$(".btn-unignore").click(function(e) {
			e.preventDefault();
			var dataId = $(this).attr("data-id");
			var div = $(this).closest("div.search-listing");
			console.log("Div: " + div);
			div.detach().appendTo(".listings");
			div.removeClass("ignored");
			$(this).hide();

			$.post("/s/{{ search.slug }}/ignore/" + dataId, {ignore: "false"}, function(data) {
				console.log("Ad " + dataId+ " unignored.");
			});
			
		});

		var map_canvas, mapOptions, map, loc;

{% for listing in listings %}
	{% if listing.lat and listing.lon %}

		loc = new google.maps.LatLng({{ listing.lat }}, {{ listing.lon }});
		map_canvas = document.getElementById('map_canvas_{{ listing.id }}');
		mapOptions = {
			center: loc,
			zoom: 15,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(map_canvas, mapOptions);
		new google.maps.Marker({position: loc, map: map,});

	{% endif %}
{% endfor %}
	}
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endblock %}

{% block body %}

<div class="row">
	<span class="small">{{ search.slug }}</span>
	<h1>[{{ search.modified|date:"SHORT_DATETIME_FORMAT" }}] - Gumbug search</h1>
</div>

Showing results from:
<ul>
{% for search_url in search.searchurl_set.all %}
	<li><a href="{{ search_url.url }}" target="_blank">{{ search_url.url }}</a></li>
{% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'index' %}">New search</a>
<form action="{% url 'listings' search.slug %}" method="POST" style="display: inline;">
{% csrf_token %}
<input type="submit" class="btn btn-info" value="Redo search with same parameters"><br>
</form>
(Redoing the search will automatically continue to ignore the items that you added to your ignore list)

<div class="row"><h4>{{ listings|length }} listings</h4></div>

<div class="listings">
	{% for listing in listings %}
		{% include "_listing.html" %}
	{% endfor %}
</div>

<div class="row"><h4>Ignored listings</h4></div>

<div class="ignored-listings">
	{% for listing in ignored_listings %}
		{% include "_listing.html" %}
	{% endfor %}
</div>

{% endblock %}
