{% extends '_base.html' %}

{% block title %}{{ search.title }} | Gumbug Search{% endblock %}


{% block body %}

{% include "_previous_searches.html" %}

<div class="row">
	<h1>{{ search.title }} ({{ search.status }})- Gumbug search</h1>
</div>

{% if search.status == 'error' %}
	<p class="error">Search failed. {{ search.search_result }}</p>
{% else %}
	<p>Search is currently in progress. Please wait for it to finish. This page will automatically refresh.<p>

	<p>Last updated: {{ last_updated }}</p>
	<p><strong>{{ result_count }} listings found</strong></p>
	<p><strong>{{ status_counts.ignored }} ignored</strong></p>
	<p><strong>{{ status_counts.favorite }} favorited</strong></p>
	<p><strong>{{ status_counts.maybe }} maybe</strong></p>
	<p><strong>{{ status_counts.offer }} under offer</strong></p>

	<script type="text/javascript">
		setTimeout(function(){
			location = '';
		}, 4000);
	</script>
{% endif %}

{% endblock %}
