@media (min-width: 1200px)
.container {
	width: 1170px;
}
@media (min-width: 992px)
.container {
	width: 970px;
}
@media (min-width: 768px)
.container {
	width: 750px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

form.search-form div.search-urls input[type="url"] {
	width: 90%;
}

div.search-listing {
	padding-top: 16px;
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #ddd;
}

div.search-listing pre {
	background-color: inherit;
	font-family: inherit;
	border: none;
}

div.row.info {
	font-weight: bold;
	font-size: 18px;
}

div.images {
	padding: 8px;
}

div.images img {
	max-width: 48%;
	margin: 4px;
}

.search-listing .btn.selected { color: #fff; font-style: italic; font-weight: bold; }
.search-listing .btn { color: #eee; font-style: normal; }

.search-listing .btn-new { background-color: #337ab7; }
.search-listing .btn-favorite { background-color: #5cb85c; }
.search-listing .btn-ignore { background-color: #d9534f;}
.search-listing .btn-maybe { background-color: #88B6FF; }
.search-listing .btn-offer { background-color: #FFCE88; }

div.search-listing.status-new { background-color: #FFF; }
div.search-listing.status-ignored { background-color: #DDD; }
div.search-listing.status-favorite { background-color: #e3ffe2; }
div.search-listing.status-maybe { background-color: #B6D8F5; }
div.search-listing.status-offer { background-color: #FFDAA6; }

.ignore-reason {
	padding-top: 8px;
	font-weight: bold;
	color: red;
}

div.search-form div.row {
	margin-top: 12px;
	margin-bottom: 12px;
}

.text-error {
	color: red;
	font-weight: bold;
}

.map_canvas {
	border: 1px solid #aaa;
	height:440px;
}

.map_canvas.map-large {
	height:640px;
}
