@media (min-width: 1200px)
.container {
	width: 1170px;
}
@media (min-width: 992px)
.container {
	width: 970px;
}
@media (min-width: 768px)
.container {
	width: 750px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

form.search-form div.search-urls input[type="url"] {
	width: 90%;
}

div.search-listing {
	padding-top: 16px;
	margin-bottom: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid #ddd;
}

div.search-listing pre {
	background-color: inherit;
	font-family: inherit;
	border: none;
}

div.row.info {
	font-weight: bold;
	font-size: 18px;
}

div.images {
	padding: 8px;
}

div.images img {
	max-width: 48%;
	margin: 4px;
}

div.search-listing.ignored {
	background-color: #DDD;
}

div.search-listing.favorite {
	background-color: #e3ffe2;
}

.ignore-reason {
	padding-top: 8px;
	font-weight: bold;
	color: red;
}

div.search-form div.row {
	margin-top: 12px;
	margin-bottom: 12px;
}

.text-error {
	color: red;
	font-weight: bold;
}

.map_canvas {
	border: 1px solid #aaa;
	height:440px;
}

.map_canvas.map-large {
	height:640px;
}
